
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Ajax Component</div>
                    <div class="card-body">
                        <button @click="update" class="btn btn-default" v-if="!is_refresh"> Обновить - {{id}}</button>
                        <!--если !is_refresh, данный элемент не будет отображаться -->
                        <span class="badge" v-if="is_refresh">Обновление...</span>
                        <table>
                            <tr v-for="url in urldata">
                                <td>{{url.title}}</td>
                                <td>{{url.url}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                urldata: [], // массив, кот. получим из контроллера
                is_refresh: false, // статус ajax запроса
                id: 0 // для итераций нажатия клавиш
            }
        },
        mounted() {
            //console.log('Component mounted.'),
            this.update()
        },
        methods: {
            update: function () {
                // стрелочная функция
                axios.get('/start/get-json').then((response) => {
                    console.log(response)
                    this.urldata = response.data
                    this.is_refresh = false
                    this.id++
                });
              //  console.log(this.urldata);
            }
        }
    }
</script>
