
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Ajax Component</div>
                    <div class="card-body">

                        <line-chart :chart-data="data" :height="100" :options="{responsive: true, maintainAspectRatio: true}"></line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LineChart from './LineChart.js'

    export default {
        components: {
            LineChart
        },
        data: function() {
            return {
               data: [],
            }
        },
        mounted() {
            //console.log('Component mounted.'),
            this.update()
        },
        methods: {
            update: function () {
                // стрелочная функция
                axios.get('/start/data-chart').then((response) => {
                    this.data = response.data
                });
              //  console.log(this.urldata);
            }
        }
    }
</script>
