<template>
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <textarea class="form-control" readonly="" rows="10">{{messages.join('\n')}}</textarea>
              <input type="text" class="form-control" v-model="textMessage" @keyup.enter="sendMessage">
          </div>
      </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                messages: [], // все сообщения
                textMessage: ''
            }
        },
        mounted() {
            window.Echo.channel('chat')
                .listen('Message', ({message}) => {
                    console.log(this.messages);
                   this.messages.push(message);
                });
        },
        methods: {
            sendMessage() {
                axios.post('/messages', {body: this.textMessage });
                this.messages.push(this.textMessage);
                this.textMessage = '';
            }
        }
    }
</script>
