
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Prop Component - передаем параметры</div>

                    <div class="card-body">
                        <table>
                            <tr v-for="url in urldata">
                                <td>{{url.title}}</td>
                                <td>{{url.url}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'urldata'
        ],
        mounted() {
            //console.log('Component mounted.'),
            this.update()
        },
        methods: {
            update: function () {
                console.log(this.urldata);
            }
        }
    }
</script>
