<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <select multiple="" class="form-control" v-model="usersSelect">
                            <option v-for="user in users" :value="'news-action.'+user.id">{{user.email}}</option>
                        </select>
                    </div>
                    <div class="col-sm-8">

                        <textarea readonly="" id="" rows="10">{{dataMessages.join('\n')}}</textarea>
                        <input type="text" v-model="message">
                        <button @click="sendMessage" class="btn btn-primary">Отправить сообщение</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                dataMessages: [],
                message: "",
                usersSelect: []
            }
        },
        props: [
            'users',
            'user'
        ],
        mounted() {
            //console.log('Component mounted.'),
            var socket = io('http://localhost:3000');

            // Напр. Игорь с id 10 открывает браузер и подписывается на канал
            // news-action.10::App\Events\PrivateMessage
            socket.on("news-action." +this.user.id + ":App\\Events\\PrivateMessage", function (data) {
                this.dataMessages.push(data.message.user + ': ' + data.message.message);
            }.bind(this)); // как в стрел функции

           // когда не выбран получатель, т.е. сообщение рассылается всем
            socket.on("news-action.:App\\Events\\PrivateMessage", function (data) {
                this.dataMessages.push(data.message.user + ': ' + data.message.message);
            }.bind(this)); // как в стрел функции

        },
        methods: {
            sendMessage: function () {

                // если не выбран пользователь для отправки, все, кто подписан на общий канал получат сообщение
                if(!this.usersSelect.length)
                    this.usersSelect.push('news-action.');

                axios({
                    method: 'get',
                    url: '/start/send-private-message',
                    params: {channels: this.usersSelect, message: this.message, user: this.user.email}
                }).then((response) => {
                   this.dataMessages.push(this.user.email + ': ' + this.message);
                    app.message = "" // очистим поле ввода после отправки
                });
            }

        }
    }
</script>
