
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Realtime Chat Component</div>
                    <div class="card-body">
                        <textarea readonly="" id="" rows="10">{{dataMessages.join('\n')}}</textarea>
                        <input type="text" v-model="message">
                        <button @click="sendMessage" class="btn btn-primary">Отправить сообщение</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LineChart from './LineChart.js'

    export default {
        data: function() {
            return {
               dataMessages: [],
                message: "",
            }
        },
        mounted() {
            //console.log('Component mounted.'),
            var socket = io('http://localhost:3000');
            socket.on("news-action:App\\Events\\NewMessage", function(data) {
                this.dataMessages.push(data.message);
            }.bind(this)); // как в стрел функции

        },
        methods: {
            sendMessage: function () {
                axios({
                    method: 'get',
                    url: '/start/send-message',
                    params: { message: this.message }
                }).then((response) => {
                    this.message = "" // очистим поле ввода после отправки
                });
            }

        }
    }
</script>
