
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Realtime Component</div>
                    <div class="card-body">
                        <line-chart :chart-data="data" :height="100" :options="{responsive: true, maintainAspectRatio: true}"></line-chart>
                        <input type="checkbox" v-model="realtime"> Обновлять в реалтайм
                        <input type="text" v-model="label">
                        <input type="text" v-model="sale">
                        <button @click="sendData" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LineChart from './LineChart.js'

    export default {
        components: {
            LineChart
        },
        data: function() {
            return {
               data: [],
               realtime: false,
               label: "",
               sale: 500
            }
        },
        mounted() {
            //console.log('Component mounted.'),
            var socket = io('http://localhost:3000');
            socket.on("news-action:App\\Events\\NewEvent", function(data) {
                this.data = data.result;
            }.bind(this)); // как в стрел функции

            this.update()
        },
        methods: {
            update: function () {
                // стрелочная функция
                axios.get('/start/socket-chart').then((response) => {
                    this.data = response.data
                });
              //  console.log(this.urldata);
            },
            sendData: function () {
                axios({
                    method: 'get',
                    url: '/start/socket-chart',
                    params: { label: this.label, sale: this.sale, realtime: this.realtime }
                }).then((response) => {
                    this.data = response.data
                });
            }


        }
    }
</script>
